.menu-container {
  display: flex;
  align-items: center;
  background-color: cadetblue; /* Cor de fundo azul vibrante */
  padding: 10px;
  border-radius: 4px;

  .menu-button {
    color: #fff; /* Cor do texto branco */
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2); /* Cor de fundo branco transparente ao passar o mouse */
    }

    &:focus {
      outline: none;
      background-color: rgba(255, 255, 255, 0.2); /* Cor de fundo branco transparente ao focar */
    }
  }

  .divider {
    width: 1px;
    height: 24px;
    background-color: #fff; /* Cor da linha vertical branca */
    margin: 0 10px;
  }
}
