.button-container {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
}

.button-container button {
  margin-right: 10px;
  padding: 8px 16px;
  background-color: #ccc;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #999;
}
