.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 50px;
  background-color: #3B655B;
  padding: 10px;
  transition: transform 0.3s;
  z-index: 9999;
}

.menu-toggle  {
  color: #FFFFFF;
}

.menu-list {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 0;
  transition: height 0.3s;
  background-color: #FFFFFF;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 12px;
  color: #3B655B;
  text-decoration: none;
  transition: background-color 0.3s;
}

.menu-item:hover {
  background-color: #84f0d6;
}

.menu-list.open {
  height: auto;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.menu-button-social,
.menu-button-info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
}

.social-icon,
.info-icon {
  color: #FFFFFF;
  font-size: 24px;
}
