<!-- <div class="menu-container">
  <mat-nav-list class="menu-list">
    <a [routerLink]="['/']" (click)="closeMenu()" mat-list-item class="menu-item" matTooltip="Home">
      <mat-icon class="menu-icon">home</mat-icon>
    </a>
    <a [routerLink]="['cadastropaciente']" (click)="closeMenu()" mat-list-item class="menu-item" matTooltip="Cadastrar Paciente">
      <mat-icon class="menu-icon">add_reaction</mat-icon>
      <span>Cadastrar Paciente</span>
    </a>
    <a [routerLink]="['cadastromedico']" (click)="closeMenu()" mat-list-item class="menu-item" matTooltip="Cadastrar Médico(a)">
      <mat-icon class="menu-icon">medical_information</mat-icon>
      <span>Cadastrar Médico(a)</span>
    </a>
    <div class="divider"></div>
    <a [routerLink]="['listagempacientes']" (click)="closeMenu()" mat-list-item class="menu-item" matTooltip="Listar Pacientes">
      <mat-icon class="menu-icon">playlist_add</mat-icon>
      <span>Listar Pacientes</span>
    </a>
    <a [routerLink]="['listagemmedicos']" (click)="closeMenu()" mat-list-item class="menu-item" matTooltip="Listar Médicos">
      <mat-icon class="menu-icon">playlist_add</mat-icon>
      <span>Listar Médicos</span>
    </a>
  </mat-nav-list>
</div> -->

<mat-drawer-container class="menu-container">
  <mat-drawer opened="true">
    <mat-nav-list class="menu-list">
      <mat-list-item [routerLink]="['/']" matTooltip="Home">
        <mat-icon class="menu-icon">home</mat-icon>
        <span>Home</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
</mat-drawer-container>
