.card {
  position: absolute;
  width: 550px;
  height: 825px;
  bottom: 5rem;
  left: 1270px;  
  background: #3B655B;
  border-radius: 15px;
  z-index: 1;
}


.retangulo2 {
  position: absolute;
  width: 770px;
  height: 1110px;
  left: 1150px;
  background-color: #84f0d663;
}

.title {
  font-family: "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 200px;
  font-size: 40px;
  line-height: 50px;
  color: #FFFFFF;

}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.full-width {
  width: 100%;
  margin-bottom: 20px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  left: 200px;
  top: 740px;
  background-color: #3B655B;
  color: #ffffff;
}

.large-button {
  padding: 30px 60px;
}


.logo {
  left: 300px;
  top: 150px;
  position: relative;
}

.medicine,
.vector1,
.vector2 {
  position: absolute;
}

.medicine {
  z-index: 3;
  left: 150px;
  top: 50px;
}

.vector1 {
  z-index: 1;
}

.vector2 {
  z-index: 2;
  top: 100px; /* Ajuste o valor conforme necessário */
  left: 10px; /* Ajuste o valor conforme necessário */
}

.nameLogo {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content: center;
  width: 1080px;
  height: 1750px;

  font-family: "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 64px;
  line-height: 95px;
  color: #64AC9B;
}